.container2{
    position: absolute;
    top: 20%;
    left: 35%;
    margin-top: -50px;
    margin-left: -340px;
    display:grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-row: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 300px;
    font-family: var(--fontType), sans-serif;
  }